.usersWrapper {
  min-height: 80dvh;
  width: 90dvw;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-x: hidden;
  /* overflow-y: auto; */
  padding: 20px;
  margin: 10px auto;
  box-sizing: border-box;
  container-type: inline-size;
}

@container (max-width: 768px) {
  .usersWrapper {
    width: 100%;
    padding: 10px;
    margin: 0;
  }
}